.desktop {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 1024px;
  justify-content: flex-start;
  padding: 56px 139px 96px;
  position: relative;
}

.desktop .group {
  height: 140.26px;
  position: relative;
  width: 674.09px;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 35.6px;
  font-weight: 700;
  left: 181px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 491px;
}

.desktop .headlogo {
  height: 140px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 140px;
}

.desktop .div {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.desktop .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 45px;
  margin-left: -51.40px;
  margin-right: -51.40px;
  position: relative;
}

.desktop .overlap-group-wrapper {
  height: 85.98px;
  position: relative;
  width: 87.98px;
}

.desktop .overlap-group {
  background-color: #d9d9d9;
  border-radius: 21.66px;
  height: 86px;
  position: relative;
  width: 86px;
}

.desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 46.1px;
  font-weight: 700;
  height: 56px;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
}

.desktop .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 46.1px;
  font-weight: 700;
  height: 56px;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
}

.desktop .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 46.1px;
  font-weight: 700;
  height: 56px;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
}

.desktop .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 46.1px;
  font-weight: 700;
  height: 56px;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
}

.desktop .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 46.1px;
  font-weight: 700;
  height: 56px;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
}

.desktop .overlap-wrapper {
  height: 85.98px;
  margin-right: -2.00px;
  position: relative;
  width: 87.98px;
}

.desktop .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 35.6px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.desktop .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.desktop .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 19px;
  justify-content: center;
  position: relative;
}

.desktop .rectangle {
  background-color: #d9d9d9;
  border-radius: 11.69px;
  height: 47.49px;
  position: relative;
  width: 47.49px;
}

.desktop .rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 11.69px;
  height: 47.49px;
  position: relative;
  width: 289.3px;
}


.desktop .maafin-ya-ges {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.desktop .button {
  width: 85px;  /* Set the width */
  height: 85px; /* Set the height to make it square */
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 10rem; /* Larger font size */
}

.desktop .button .text-button {
  color: #222222;
  font-family: "Inter-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.desktop .text-urutan-menjawab {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.desktop .text-wrapper {
  font-family: 'Inter', Helvetica;
  font-size: 2rem; /* Adjust font size */
  font-weight: bold;
}
